UnitTestProjectTech/Connected Services/ServiceSolicitud/ServiceSolicitud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSolicitud" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59230/ServiceSolicitud.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceSolicitud.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceSolicitud.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSolicitud_RegistrarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IServiceSolicitud_RegistrarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSolicitud_ConsultarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitud" />
  </wsdl:message>
  <wsdl:message name="IServiceSolicitud_ConsultarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSolicitud_ConsultarSolicitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudes" />
  </wsdl:message>
  <wsdl:message name="IServiceSolicitud_ConsultarSolicitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSolicitudesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSolicitud">
    <wsdl:operation name="RegistrarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSolicitud/RegistrarSolicitud" message="tns:IServiceSolicitud_RegistrarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSolicitud/RegistrarSolicitudResponse" message="tns:IServiceSolicitud_RegistrarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSolicitud/ConsultarSolicitud" message="tns:IServiceSolicitud_ConsultarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSolicitud/ConsultarSolicitudResponse" message="tns:IServiceSolicitud_ConsultarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSolicitud/ConsultarSolicitudes" message="tns:IServiceSolicitud_ConsultarSolicitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSolicitud/ConsultarSolicitudesResponse" message="tns:IServiceSolicitud_ConsultarSolicitudes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSolicitud" type="tns:IServiceSolicitud">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IServiceSolicitud/RegistrarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitud">
      <soap:operation soapAction="http://tempuri.org/IServiceSolicitud/ConsultarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudes">
      <soap:operation soapAction="http://tempuri.org/IServiceSolicitud/ConsultarSolicitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSolicitud">
    <wsdl:port name="BasicHttpBinding_IServiceSolicitud" binding="tns:BasicHttpBinding_IServiceSolicitud">
      <soap:address location="http://localhost:59230/ServiceSolicitud.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>