WebTech/Connected Services/ServiceEmpleado/ServiceEmpleado2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleado" nillable="true" type="tns:ArrayOfEmpleado" />
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active_Employeee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido_Employee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email_Employee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeeId" type="xs:int" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_Employee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsersId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celular_Employee" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
</xs:schema>