UnitTestProjectTech/Connected Services/ServiceClient/ServiceClient.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonaNatural">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caracter_verificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caracter_verificacion_anterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaNatural" nillable="true" type="tns:PersonaNatural" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="actividad_comercio_exterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="condicion_contribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_contribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_inicio_actividades" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_inscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_comercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razon_social" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sistema_contabilidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_contribuyente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsessorCommercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion_client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador_client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres_client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonaNaturalId" type="xs:int" />
      <xs:element minOccurs="0" name="canalAtencion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="xs:int" />
      <xs:element minOccurs="0" name="identificador_representante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="representate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_cliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>