UnitTestProjectTech/Connected Services/ServiceClient/ServiceClient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceClient" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59230/ServiceClient.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceClient.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceClient_ConsultDatosPersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultDatosPersonal" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_ConsultDatosPersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultDatosPersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_ConsultDatosCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultDatosCompany" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_ConsultDatosCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultDatosCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_InsertDataClient_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataClient" />
  </wsdl:message>
  <wsdl:message name="IServiceClient_InsertDataClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceClient">
    <wsdl:operation name="ConsultDatosPersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClient/ConsultDatosPersonal" message="tns:IServiceClient_ConsultDatosPersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClient/ConsultDatosPersonalResponse" message="tns:IServiceClient_ConsultDatosPersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultDatosCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClient/ConsultDatosCompany" message="tns:IServiceClient_ConsultDatosCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClient/ConsultDatosCompanyResponse" message="tns:IServiceClient_ConsultDatosCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDataClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceClient/InsertDataClient" message="tns:IServiceClient_InsertDataClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceClient/InsertDataClientResponse" message="tns:IServiceClient_InsertDataClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceClient" type="tns:IServiceClient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultDatosPersonal">
      <soap:operation soapAction="http://tempuri.org/IServiceClient/ConsultDatosPersonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultDatosCompany">
      <soap:operation soapAction="http://tempuri.org/IServiceClient/ConsultDatosCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDataClient">
      <soap:operation soapAction="http://tempuri.org/IServiceClient/InsertDataClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceClient">
    <wsdl:port name="BasicHttpBinding_IServiceClient" binding="tns:BasicHttpBinding_IServiceClient">
      <soap:address location="http://localhost:59230/ServiceClient.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>