WebTech/Connected Services/ServiceClient/ServiceClient2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59230/ServiceClient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" />
  <xs:element name="ConsultDatosPersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultDatosPersonalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" minOccurs="0" name="ConsultDatosPersonalResult" nillable="true" type="q1:PersonaNatural" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultDatosCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultDatosCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" minOccurs="0" name="ConsultDatosCompanyResult" nillable="true" type="q2:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" minOccurs="0" name="client" nillable="true" type="q3:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDataClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>