WebTech/Connected Services/ServiceServicios/ServiceServicios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59230/ServiceServicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" />
  <xs:element name="ListarTypeServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTypeServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" minOccurs="0" name="ListarTypeServicesResult" nillable="true" type="q1:ArrayOfTypeServices" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServicesbyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TypeServicesId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarServicesbyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" minOccurs="0" name="ListarServicesbyTypeResult" nillable="true" type="q2:ArrayOfServices" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>