UnitTestProjectTech/Connected Services/ServiceHorario/ServiceHorario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceHorario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59230/ServiceHorario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceHorario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceHorario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHorario_ConsultarDisponible_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDisponible" />
  </wsdl:message>
  <wsdl:message name="IServiceHorario_ConsultarDisponible_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDisponibleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHorario_RegistrarHorario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarHorario" />
  </wsdl:message>
  <wsdl:message name="IServiceHorario_RegistrarHorario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarHorarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHorario">
    <wsdl:operation name="ConsultarDisponible">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHorario/ConsultarDisponible" message="tns:IServiceHorario_ConsultarDisponible_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHorario/ConsultarDisponibleResponse" message="tns:IServiceHorario_ConsultarDisponible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarHorario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHorario/RegistrarHorario" message="tns:IServiceHorario_RegistrarHorario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHorario/RegistrarHorarioResponse" message="tns:IServiceHorario_RegistrarHorario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceHorario" type="tns:IServiceHorario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarDisponible">
      <soap:operation soapAction="http://tempuri.org/IServiceHorario/ConsultarDisponible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarHorario">
      <soap:operation soapAction="http://tempuri.org/IServiceHorario/RegistrarHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHorario">
    <wsdl:port name="BasicHttpBinding_IServiceHorario" binding="tns:BasicHttpBinding_IServiceHorario">
      <soap:address location="http://localhost:59230/ServiceHorario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>