WebTech/Connected Services/ServiceTechTeam/ServiceDevTech.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tecactus.Api.Sunat" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tecactus.Api.Sunat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="actividad_comercio_exterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="condicion_contribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_contribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_inicio_actividades" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_inscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_comercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razon_social" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sistema_contabilidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sistema_emision_comprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_contribuyente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
</xs:schema>