WebTech/Connected Services/ServiceTechTeam/ServiceDevTech.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDevTech" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59230/ServiceDevTech.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceDevTech.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceDevTech.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tecactus.Api.Reniec" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceDevTech.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tecactus.Api.Sunat" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDevTech_ValidateAccessLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccessLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceDevTech_ValidateAccessLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccessLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevTech_ConsultDatosPersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultDatosPersonal" />
  </wsdl:message>
  <wsdl:message name="IServiceDevTech_ConsultDatosPersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultDatosPersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevTech_ConsultDatosCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultDatosCompany" />
  </wsdl:message>
  <wsdl:message name="IServiceDevTech_ConsultDatosCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultDatosCompanyResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDevTech">
    <wsdl:operation name="ValidateAccessLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevTech/ValidateAccessLogin" message="tns:IServiceDevTech_ValidateAccessLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevTech/ValidateAccessLoginResponse" message="tns:IServiceDevTech_ValidateAccessLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultDatosPersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevTech/ConsultDatosPersonal" message="tns:IServiceDevTech_ConsultDatosPersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevTech/ConsultDatosPersonalResponse" message="tns:IServiceDevTech_ConsultDatosPersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultDatosCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevTech/ConsultDatosCompany" message="tns:IServiceDevTech_ConsultDatosCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevTech/ConsultDatosCompanyResponse" message="tns:IServiceDevTech_ConsultDatosCompany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDevTech" type="tns:IServiceDevTech">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateAccessLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceDevTech/ValidateAccessLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultDatosPersonal">
      <soap:operation soapAction="http://tempuri.org/IServiceDevTech/ConsultDatosPersonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultDatosCompany">
      <soap:operation soapAction="http://tempuri.org/IServiceDevTech/ConsultDatosCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDevTech">
    <wsdl:port name="BasicHttpBinding_IServiceDevTech" binding="tns:BasicHttpBinding_IServiceDevTech">
      <soap:address location="http://localhost:59230/ServiceDevTech.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>