WebTech/Connected Services/ServiceTechTeam/ServiceDevTech1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tecactus.Api.Reniec" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tecactus.Api.Reniec" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caracter_verificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caracter_verificacion_anterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
</xs:schema>