UnitTestProjectTech/Connected Services/ServiceEmpleado/ServiceEmpleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEmpleado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59230/ServiceEmpleado.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceEmpleado.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59230/ServiceEmpleado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceEmpleado_ListEmpleadoAsesores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListEmpleadoAsesores" />
  </wsdl:message>
  <wsdl:message name="IServiceEmpleado_ListEmpleadoAsesores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListEmpleadoAsesoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceEmpleado_GetInfoEmpleadoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoEmpleadoById" />
  </wsdl:message>
  <wsdl:message name="IServiceEmpleado_GetInfoEmpleadoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoEmpleadoByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceEmpleado">
    <wsdl:operation name="ListEmpleadoAsesores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmpleado/ListEmpleadoAsesores" message="tns:IServiceEmpleado_ListEmpleadoAsesores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmpleado/ListEmpleadoAsesoresResponse" message="tns:IServiceEmpleado_ListEmpleadoAsesores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoEmpleadoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceEmpleado/GetInfoEmpleadoById" message="tns:IServiceEmpleado_GetInfoEmpleadoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceEmpleado/GetInfoEmpleadoByIdResponse" message="tns:IServiceEmpleado_GetInfoEmpleadoById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceEmpleado" type="tns:IServiceEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListEmpleadoAsesores">
      <soap:operation soapAction="http://tempuri.org/IServiceEmpleado/ListEmpleadoAsesores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoEmpleadoById">
      <soap:operation soapAction="http://tempuri.org/IServiceEmpleado/GetInfoEmpleadoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEmpleado">
    <wsdl:port name="BasicHttpBinding_IServiceEmpleado" binding="tns:BasicHttpBinding_IServiceEmpleado">
      <soap:address location="http://localhost:59230/ServiceEmpleado.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>