UnitTestProjectTech/Connected Services/ServiceEmpleado/ServiceEmpleado1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59230/ServiceEmpleado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" />
  <xs:element name="ListEmpleadoAsesores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEmpleadoAsesoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" minOccurs="0" name="ListEmpleadoAsesoresResult" nillable="true" type="q1:ArrayOfEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoEmpleadoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoEmpleadoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" minOccurs="0" name="GetInfoEmpleadoByIdResult" nillable="true" type="q2:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>