WebTech/Connected Services/ServiceUsuario/ServiceUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59230/ServiceUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" />
  <xs:element name="ValidateAccessLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passuser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAccessLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateAccessLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabyUserTech">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabyUserTechResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesTech.Dominio" minOccurs="0" name="GetDatabyUserTechResult" nillable="true" type="q1:UsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>